<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Все люди</title>
</head>
<body>
<!--тут у нас отображается информация о человека, в частности имя и возраст(можем добавить сами любую информацию)-->
    <div th:each="person : ${people}">
        <a th:href="@{/people/{id}(id=${person.getId()})}"
           th:text="${person.getName() + ', ' + person.getAge() + ', ' + person.getEmail()}">user</a>
    </div>
    <br/>
    <hr/>


    <a href="/people/new">Create new person</a>

</body>
</html>