# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CRUD_App1\CRUD_App1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
